<!DOCTYPE html>
<html lang="cat">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/custom.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
        </head>
    <body class="bg-secondary">

    <div class="banner flex-center bg-primary p-3">
    <h1 class="text-white text-lg text-center display-1 p-3"><a class="text-decoration-none text-white" href={{ path('app_home') }}>Veggiexque</a></h1>

    <nav class="navbar navbar-primary navbar-expand-lg text-white justify-contents-space-between">
            <div class="container-fluid justify-content-between">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <!-- Province dropdown (ALWAYS VISIBLE) -->
            <div class="dropdown text-center d-lg-none">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Província
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for province in provinces %}
                        <li><a class="dropdown-item" href="{{ path('app_restaurants_by_province', {province: province.slug}) }}">
                            {{ province.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <form class="d-flex d-none d-md-block d-lg-none" action="{{ path('app_search') }}" method="get">
                        <input
                            class="form-control me-2"
                            type="search"
                            name="q"
                            placeholder="Buscar restaurants..."
                            aria-label="Search"
                        >
            </form>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">            
                <div class="navbar-nav me-auto ">
                    <button class="btn btn-secondary"><a class="nav-link p-1" href="{{ path('app_contact')}}">Contacte</a></button>
                    <button class="btn btn-secondary"><a class="nav-link p-1" href="{{ path('app_blog')}}">Blog</a></button>
                </div>

                <div class="dropdown text-center d-none d-lg-block">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Província
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">    

                    {% for province in provinces %}
                        <li><a class="dropdown-item" href="{{ path('app_restaurants_by_province', {province: province.slug}) }}">
                                            {{ province.name }}</a></li>
                    {% endfor %}
                                    
                    </ul>
                </div>  

                <form class="d-flex ms-auto d-sm-none d-md-none d-lg-block" action="{{ path('app_search') }}" method="get">
                    <input
                        class="form-control me-2"
                        type="search"
                        name="q"
                        placeholder="Buscar restaurants..."
                        aria-label="Search"
                    >
                </form>
            </div>    
        </div>        
    </nav>
    </div>

    <div class="container-lg p-3 flex-center bg-secondary">

    {% block sentence %}{% endblock %}

        <div class="d-grid gap-3">
            <div class="row justify-content-center">


                              
                        {% block body %}{% endblock %}
            </div>

        </div>

    </div>



    <footer class="bg-primary text-white d-flex justify-content-center p-4">
        <p>
            <a href="https://veggiexque.es" class="text-white">Veggiexque</a> © 2026 by  <a href="https://example.com" class="text-white">Guillem Vaquer Nebot</a>
            is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="text-white">CC BY-NC-ND 4.0</a>
            <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
            <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
            <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
            <img src="https://mirrors.creativecommons.org/presskit/icons/nd.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
        </p>
    </footer>

    </body>
</html>
